<div id="group-<%= group.id %>"
  data-id="<%= group.id %>"
  data-lng="<%= group.longitude %>"
  data-lat="<%= group.latitude %>"
  data-distance=""
  data-category="<%= group.category.name %>"
  data-title="<%= group.title %>"
  data-count="<%= group.users.count %>"
  data-size="<%= group.size %>"
  data-time="<%= l group.time, format: :time_info_group %>"
  data-address="<%= group.address %>"
  data-avatar="<%= user_avatar group.creator.profile.avatar_url %>"
  class="group-card group">
  <div class="group-detail">
    <%= image_tag user_avatar(group.creator.profile.avatar_url),
      class: "creator-avatar" %>
  <div class="group-title">
    <%= link_to t(".info"), group_path(group), class: "btn btn-primary" %>
  </div>
    <div class="nearby">
      <%= t ".nearby" %>
        <span class="distance"></span> <%= t ".km" %>
    </div>
  </div>
</div>
