<div class="col-md-6 group" id="group-<%= group.id %>"
  data-id="<%= group.id %>"
  data-lng="<%= group.longitude %>"
  data-lat="<%= group.latitude %>"
  data-distance="">
  <div class="card group-card">
    <%= image_tag "dinner.jpg", class: "card-img-top" %>
    <div class="card-block center">
      <h3 class="card-title"><%= group.category.name %></h3>
      <h4 class="card-text"><%= group.title %></h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= t ".nearby" %>
        <span class="distance"></span> <%= t ".km" %>
      </li>
      <li class="list-group-item"><%= group.time %></li>
      <li class="list-group-item"><%= group.address %></li>
      <li class="list-group-item"><%=  t ".creator" %>
        <%= group.creator.profile.name %></li>
      <li class="list-group-item">
        <% if check_join_group group.id %>
          <%= link_to "#", class:"btn btn-primary",
            data: {toggle: :modal, target: "#myModal"} do %>
            <span class="glyphicon glyphicon-info-sign"></span>
            <%= t ".info" %>
          <% end %>
          <%= render "shared/modal_info_group", group: group,
            group_user_build: group_user_build %>
        <% else %>
          <%= link_to group_path(group), class:"btn btn-primary" do %>
            <span class="glyphicon glyphicon-comment"></span>
            <%= t ".chat" %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
