<ul class="info-group-ul">
  <li>
    <p class="category-info"><%= group.category.name %></p>
  </li>
  <li>
    <p class="title-info-bold"><%= t ".name_group" %></p>
    <p class="title-info"><%= group.title %></p>
  </li>
  <li>
    <p class="title-info-bold"><%= t ".time" %></p>
    <p class="title-info"><%= l group.time,
      format: :time_info_message %></p>
  </li>
  <li>
    <p class="title-info-bold"><%= t ".address" %></p>
    <p class="title-info"><%= group.address %></p>
  </li>
  <li>
    <p class="title-info-bold"><%= t ".size" %></p>
    <p class="title-info"><%= group.size %></p>
  </li>
  <% if current_user.current_user? group.creator %>
    <li class="button-left">
      <%= link_to edit_group_path(group), class:"btn btn-primary",
        data: {toggle: :modal, target: "#Modal-Create-Group"} do %>
        <span class="glyphicon glyphicon-edit"></span>
        <%= t ".edit" %>
      <% end %>
    </li>
  <% else %>
    <li class="button-left">
      <%= link_to group_user_path(group_supports.leave(current_user)),
        method: :delete, class:"btn btn-primary" do %>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <%= t ".left_group" %>
      <% end %>
      <% unless group.owned_by? current_user %>
        <%= link_to "#", class: "btn btn-danger",
          data: {toggle: :modal, target: "#myModal"} do %>
          <span class="glyphicon glyphicon-alert"></span>
          <%= t ".report" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= render "shared/report", report: group_supports.report %>
<%= render "shared/modal_group_form", group: group,
  categories: @categories, select_statuses: @select_statuses %>
