<ul class="info-group">
  <li>
    <p><%= group.category.name %></p>
  </li>
  <li>
    <p><%= group.title %></p>
  </li>
  <li>
    <p><%= t ".time" %><%= group.time %></p>
  </li>
  <li>
    <p><%= t ".address" %><%= group.address %></p>
  </li>
  <li>
    <p><%= t ".size" %><%= group.size %></p>
  </li>
</ul>
