<% provide :title, t(".title") %>
<% provide :button_text, t(".button_text") %>
<% if user_signed_in? %>
  <% if current_user.is_admin %>
    <%= render "show_index_admin", groups: @groups %>
  <% else %>
    <div class="container-fluid group-index">
      <div class="container">
        <div class="row">
          <% if can? :create, Group %>
            <div class="group-new-btn">
              <% if count_user_create_group == 0 %>
                <%= link_to t(".new"), new_group_path,
                  class: "btn btn-primary btn-text",
                  data: {toggle: :modal, target: "#modal-create-group"} %>
                <%= render "shared/modal_group_form",
                  group: @group_supports.group_new,
                  categories: @group_supports.initalize_categories %>
              <% else %>
                <%= link_to t(".new"), "#",
                  class: "btn btn-primary btn-text",
                  data: {toggle: :modal, target: "#modal-error-join-group"} %>
                <%= render "shared/modal_error_join_group" %>
              <% end %>
            </div>
          <% end %>
          <div id="all-group">
            <%= render @groups %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="container-fluid group-index">
    <div class="container">
      <div class="row">
        <% if can? :create, Group %>
          <div class="group-new-btn">
            <%= link_to t(".new"), new_group_path, class: "btn btn-primary" %>
          </div>
        <% end %>
        <div id="all-group">
          <%= render @group_supports.all_groups %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render "shared/modal_chart_group", chart: @group_supports.chart %>
<%= render "shared/modal_chart_group_ratio",
  chart: @group_supports.chart_ratio %>
