<div class="container-fluid">
  <% if check_join_group @group.id %>
    <% provide :title, t(".title_show") %>
    <%= render "show_not_join", group: @group,
      group_user_build: @group_supports.group_user(@group)%>
  <% else %>
    <% provide :title, t(".title") %>
    <% provide :button_text, t(".button_text") %>
    <div class="row">
      <div class="message-header">
        <div class="col-md-3 user-menu">
          <%= t ".users" %>
        </div>
        <div class="col-md-6 message-menu">
          <%= t ".messages" %>
        </div>
        <div class="col-md-3 info-menu">
          <%= t ".infomation" %>
        </div>
      </div>
      <div class="message-main">
        <div class="col-md-3 list-users">
          <div class="row">
            <%= render @group.group_users %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="chat-area" id="chat-area">
              <div class="panel-body" id="messages"
                data-group-id="<%= @group.id %>">
                <%= render @group.messages %>
              </div>
            </div>
            <div class="message-write">
              <%= render "messages/message_form",
                message: @group_supports.message, group: @group %>
            </div>
          </div>
        </div>
        <div class="col-md-3 info-group">
          <div class="row">
            <%= render "info_group", group: @group,
              categories: @group_supports.initalize_categories,
              group_supports: @group_supports,
              select_statuses: @group_supports.load_status %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/report", report: @group_supports.report %>
