<div class="container">
  <div class="center">
    <h2><%= @group.title %></h2>
    <h3><%= @group.category.name %></h3>
    <ul>
      <li><%= @group.creator.email %></li>
      <li><%= @group.address %></li>
      <li><%= @group.time %></li>
      <li><%= @group.size %></li>
    </ul>
  </div>
</div>
