<% provide :title, t(".title") %>
<div class="container-fluid">
  <% if check_join_group @group.id %>
    <%= render "show_not_join", group: @group %>
  <% else %>
    <div class="row">
      <div class="message-header">
        <div class="col-md-3 user-menu">
          <%= t ".users" %>
        </div>
        <div class="col-md-6 message-menu">
          <%= t ".messages" %>
        </div>
        <div class="col-md-3 info-menu">
          <%= t ".infomation" %>
        </div>
      </div>
      <div class="message-main">
        <div class="col-md-3 list-users">
          <div class="row">
            <%= render @group.group_users %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="chat-area">
              <div class="panel-body" id="messages"
                data-group-id="<%= @group.id %>">
                <%= render @group.messages %>
              </div>
            </div>
            <div class="message-write">
              <%= render "messages/message_form",
                message: @group_supports.message, group: @group %>
            </div>
          </div>
        </div>
        <div class="col-md-3 info-group">
          <div class="row">
            <%= render "info_group", group: @group %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
