<% provide :title, t(".title") %>
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <%= image_tag user_avatar(@user.profile.avatar_url),
            class: "img-responsive" %>
        </div>
        <div class="profile-usertitle-name">
          <%= @user.profile.name %>
        </div>
        <div class="profile-usertitle-main">
          <%= t ".gender" %><%= t "genders.#{@user.profile.gender}" %>
        </div>
        <div class="profile-usertitle-main">
          <%= t ".birthday" %><%= l @user.profile.birthday,
            format: :date_month_year_concise %>
        </div>
        <div class="profile-usertitle-main">
          <%= t ".job" %><%= @user.profile.job %>
        </div>
        <div class="profile-usertitle-main">
          <%= t ".address" %><%= @user.profile.address %>
        </div>
        <div class="profile-usertitle-main">
          <%= t ".phonenumber" %><%= @user.profile.phonenumber %>
        </div>
        <% if @user.current_user? current_user %>
          <div class="profile-userbuttons">
            <%= link_to t(".edit"), edit_user_path(@user),
              class: "btn btn-success btn-sm" %>
          </div>
          <div class="profile-usermenu">
            <ul class="nav">
              <li>
                <%= link_to user_path(group_type: :created), remote: true do %>
                  <span class="glyphicon glyphicon-ok"></span>
                  <%= t ".created" %>
                <% end %>
              </li>
              <li class="active">
                <%= link_to user_path(group_type: :joined), remote: true do %>
                  <span class="glyphicon glyphicon-flag"></span>
                  <%= t ".joined" %>
                <% end %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="center">
            <button type="button" class="btn btn-danger btn-lg btn-padded"
              data-toggle="modal" data-target="#myModal">
              <%= t ".report" %>
          </button>
          </div>
          <%= render "shared/report", report: @user_supports.report %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 profile-content">
      <%= render "users/groups",
        groups: @user_supports.groups(params[:group_type]) %>
    </div>
  </div>
</div>
