<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <h2 class="titlee-not-join"><%= t ".title" %></h2>
        <div class="col-md-8 col-md-offset-2">
          <p class="title-not-join"><%= t ".category" %></p>
          <p><%= group.category.name %></p>
          <p class="title-not-join"><%= t ".group_name" %></p>
          <p><%= group.title %></p>
          <p class="title-not-join"><%= t ".time" %></p>
          <p><%= l group.time, format: :time_info_message %></p>
          <p class="title-not-join"><%= t ".address" %></p>
          <p><%= group.address%></p>
          <p class="title-not-join"><%= t ".size" %></p>
          <p><%= group.group_users.count.to_s + "/" + group.size.to_s %></p>
          <p class="title-not-join"><%= t ".creator" %></p>
          <p><%= group.creator.profile.name %></p>
          <p class="user-join-infoo">
            <%= t ".user_info" %>
          </p>
          <div class="user-join">
            <% group.users.each do |user| %>
              <div class="col-md-2 user-join-info">
                <%= image_tag get_avatar(user.profile.avatar_url),
                  class: "img-responsive" %>
                <p class="name-user">
                  <%= link_to user.profile.name, user_path(user) %>
                </p>
              </div>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <% unless current_user.is_admin %>
              <div class="joinn">
                <%= render "join", group: group, group_user: group_user_build %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
