<tr>
  <td>
    <%= link_to report.reporter.profile.name, user_path(report.reporter),
      class: "user-link" %>
  </td>
  <td>
    <% if report.reported_type == "Group" %>
      <%= t ".group" %>:
      <%= link_to report.reported.title, report.reported %>
    <% else %>
      <%= t ".user" %>:
      <%= link_to report.reported.profile.name, report.reported %>
    <% end %>
  </td>
  <td>
    <p><%= report.content %></p>
  </td>
  <td>
    <span><%= l report.created_at, format: :time_info_message %></span>
  </td>
</tr>
